<html>
<head>
<title></title>
</head>
<body>
LOG IN 
<form action="/login" method="POST">
    <p>student-id<input name ="id" /></p>
    <p>student-name<input name ="name" /></p>
    <p>student-major<input name ="major" /></p>
    <input type="submit" value="login">
</form>
</body>
</html>