<link href="assets/css/main.css" rel="stylesheet" type="text/css" />
<table>
    <tr>
        <th>student-id</th>
        <th>student-name</th>
        <th>student-major</th>
    </tr>
    <tr>
        <td>{{.ID}}</td>
        <td>{{.NAME}}</td>
        <td>{{.MAJOR}}
    </tr>
</table>